/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 50%;
	margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*Styling the nav */
a {
	display: inline-block;
	text-decoration: none;
	color: gray;
	width: 9%;
	margin: 2%;
}

.logo {
	display: inline-block;
	width: 15%;
}

/*Styling the header*/

h1 {
	display: inline-block;
	text-align: center;
	font-size: 60px;
	width: 25%;
	height: 60%;
	margin: 5%;

}

.header {
	display: inline-block;
	width: 40%;
	margin: 10%;
}


.button{
	display: inline-block;
	background-color: white; 
	border: 2px solid black ;
	color: black;
	padding: 15px 32px;
	text-decoration: none;
	

}

/*Styling section */
.features {
	display: inline-block;
	width: 20%;
	margin-right: 230px;
	
}

.about {
	display: inline-block;
	width: 20%;
	margin: 2%;
	
	
}

.para1 {
	display: inline-block;
	width: 40%;
	height: 2%;
	margin: 2%;
	
	
}

.para2 {
	display: inline-block;
	width: 45%;
	height: 8%;
	margin: 5%;
}

.img1 {
	align-content: center;
}

/* styling 2 section that contains 3 h2 and 3 p */

.services {
	display: inline-block;
	width: 20%;
	margin: 3%;
}

.product {
	display: inline-block;
	width: 20%;
	margin: 3%;
}

.vision {
	display: inline-block;
	width: 20%;
	margin: 2%;
}

.para3 {
	display: inline-block;
	font-size: 18px;
	width: 25%;
	margin: 2%;
}
.para4 {
	display: inline-block;
	font-size: 18px;
	width: 25%;
	margin: 2%;
}
.para5 {
	display: inline-block;
	font-size: 18px;
	width: 25%;
	margin: 2%;
}

.contact {
	width: 5%;
}

footer p{
	text-align: center;
}